*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body
{
    font-size: 20px;
    overflow-x: hidden;
    font-family: sans-serif;
}

header
{
background-image: linear-gradient(rgba(0,0,0,0),rgba(0,0,0,0)), url('../photos/blue.jpg');
background-size: cover;
background-repeat: no-repeat;
background-position: center;
height: 100vh;
}
.about1 h2{
    color: navy;
    text-decoration-line: underline;
    text-align: center;

}

.about1 p{
    margin-top: 20px;
    text-align: center;
}
.info h2{
    color: navy;
    text-decoration-line: underline;
    text-align: center;
    
}
.contact{
    text-align: center;
    margin-top: 50px;
}


